In [1]:
import pandas as pd
import numpy as np

In [2]:
# Data Loading
file_path = '2018_clean_final.csv'
flight_df = pd.read_csv(file_path, error_bad_lines=False)

C:\Users\nadaa\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3444: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
flight_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7065663 entries, 0 to 7065662
Data columns (total 31 columns):
 #   Column               Dtype
---  ------               -----
 0   FL_DATE              object
 1   OP_CARRIER           object
 2   CRS_DEP_TIME         int64
 3   DEP_DELAY            float64
 4   TAXI_OUT             float64
 5   WHEELS_OFF           float64
 6   WHEELS_ON            float64
 7   TAXI_IN              float64
 8   CRS_ARR_TIME         int64
 9   ARR_DELAY            float64
 10  CRS_ELAPSED_TIME     float64
 11  ACTUAL_ELAPSED_TIME  float64
 12  AIR_TIME             float64
 13  DISTANCE             float64
 14  CARRIER_DELAY        float64
 15  WEATHER_DELAY        float64
 16  NAS_DELAY            float64
 17  SECURITY_DELAY       float64
 18  LATE_AIRCRAFT_DELAY  float64
 19  Org_Airport          object
 20  Org_latitude         float64
 21  Org_longitude        float64
 22  Origin_city          object
 23  Dest_Airport         object
 24  Dest_latitude        float64
 25  Dest_longitude       float64
 26  Dest_city            object
 27  month                int64
 28  Day                  int64
 29  MONTH_abbr           object
 30  DELAY_STATUS         int64
dtypes: float64(19), int64(5), object(7)
memory usage: 1.6+ GB

In [4]:
flight_df.shape

(7065663, 31)

In [5]:
flight_df.isnull().sum()

FL_DATE                0
OP_CARRIER             0
CRS_DEP_TIME           0
DEP_DELAY              0
TAXI_OUT               0
WHEELS_OFF             0
WHEELS_ON              0
TAXI_IN                0
CRS_ARR_TIME           0
ARR_DELAY              0
CRS_ELAPSED_TIME       0
ACTUAL_ELAPSED_TIME    0
AIR_TIME               0
DISTANCE               0
CARRIER_DELAY          0
WEATHER_DELAY          0
NAS_DELAY              0
SECURITY_DELAY         0
LATE_AIRCRAFT_DELAY    0
Org_Airport            0
Org_latitude           0
Org_longitude          0
Origin_city            0
Dest_Airport           0
Dest_latitude          0
Dest_longitude         0
Dest_city              0
month                  0
Day                    0
MONTH_abbr             0
DELAY_STATUS           0
dtype: int64

In [6]:
flight_df['FL_DATE'] = pd.to_datetime(flight_df['FL_DATE'])
flight_df['WEEKDAY'] = flight_df['FL_DATE'].dt.dayofweek
flight_df.columns

Index(['FL_DATE', 'OP_CARRIER', 'CRS_DEP_TIME', 'DEP_DELAY', 'TAXI_OUT',
       'WHEELS_OFF', 'WHEELS_ON', 'TAXI_IN', 'CRS_ARR_TIME', 'ARR_DELAY',
       'CRS_ELAPSED_TIME', 'ACTUAL_ELAPSED_TIME', 'AIR_TIME', 'DISTANCE',
       'CARRIER_DELAY', 'WEATHER_DELAY', 'NAS_DELAY', 'SECURITY_DELAY',
       'LATE_AIRCRAFT_DELAY', 'Org_Airport', 'Org_latitude', 'Org_longitude',
       'Origin_city', 'Dest_Airport', 'Dest_latitude', 'Dest_longitude',
       'Dest_city', 'month', 'Day', 'MONTH_abbr', 'DELAY_STATUS', 'WEEKDAY'],
      dtype='object')

In [7]:
flight_df.WEEKDAY.value_counts()

0    1064457
4    1054395
3    1046891
2    1022009
1    1009475
6    1005218
5     863218
Name: WEEKDAY, dtype: int64

In [8]:
flight_df.head()

,FL_DATE,OP_CARRIER,CRS_DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,WHEELS_ON,TAXI_IN,CRS_ARR_TIME,ARR_DELAY,...,Origin_city,Dest_Airport,Dest_latitude,Dest_longitude,Dest_city,month,Day,MONTH_abbr,DELAY_STATUS,WEEKDAY
0,2018-01-01,United Airlines,1517,-5.0,15.0,1527.0,1712.0,10.0,1745,-23.0,...,New York,Denver International Airport,39.861698,-104.672996,Denver,1,1,Jan,0,0
1,2018-01-01,United Airlines,1657,161.0,14.0,1952.0,2130.0,7.0,1925,132.0,...,New York,Denver International Airport,39.861698,-104.672996,Denver,1,1,Jan,1,0
2,2018-01-01,United Airlines,600,-1.0,14.0,613.0,806.0,6.0,835,-23.0,...,New York,Denver International Airport,39.861698,-104.672996,Denver,1,1,Jan,0,0
3,2018-01-01,United Airlines,1855,11.0,26.0,1932.0,2112.0,12.0,2126,-2.0,...,New York,Denver International Airport,39.861698,-104.672996,Denver,1,1,Jan,0,0
4,2018-01-01,United Airlines,1150,-1.0,13.0,1202.0,1353.0,7.0,1418,-18.0,...,New York,Denver International Airport,39.861698,-104.672996,Denver,1,1,Jan,0,0

In [9]:
flight_df['CRS_DEP_TIME'] = np.ceil(flight_df['CRS_DEP_TIME']/600).apply(int)
flight_df['WHEELS_OFF'] = np.ceil(flight_df['WHEELS_OFF']/600).apply(int) 
flight_df['WHEELS_ON'] = np.ceil(flight_df['WHEELS_ON']/600).apply(int)
flight_df['CRS_ARR_TIME'] = np.ceil(flight_df['CRS_ARR_TIME']/600).apply(int)

In [10]:
flight_df.CRS_DEP_TIME.value_counts(normalize=True)

2    0.373885
3    0.359715
4    0.218152
1    0.048248
Name: CRS_DEP_TIME, dtype: float64

In [11]:
flight_df.CRS_ARR_TIME.value_counts(normalize=True)

3    0.359190
4    0.329531
2    0.283923
1    0.027356
Name: CRS_ARR_TIME, dtype: float64

In [12]:
flight_df.head()

,FL_DATE,OP_CARRIER,CRS_DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,WHEELS_ON,TAXI_IN,CRS_ARR_TIME,ARR_DELAY,...,Origin_city,Dest_Airport,Dest_latitude,Dest_longitude,Dest_city,month,Day,MONTH_abbr,DELAY_STATUS,WEEKDAY
0,2018-01-01,United Airlines,3,-5.0,15.0,3,3,10.0,3,-23.0,...,New York,Denver International Airport,39.861698,-104.672996,Denver,1,1,Jan,0,0
1,2018-01-01,United Airlines,3,161.0,14.0,4,4,7.0,4,132.0,...,New York,Denver International Airport,39.861698,-104.672996,Denver,1,1,Jan,1,0
2,2018-01-01,United Airlines,1,-1.0,14.0,2,2,6.0,2,-23.0,...,New York,Denver International Airport,39.861698,-104.672996,Denver,1,1,Jan,0,0
3,2018-01-01,United Airlines,4,11.0,26.0,4,4,12.0,4,-2.0,...,New York,Denver International Airport,39.861698,-104.672996,Denver,1,1,Jan,0,0
4,2018-01-01,United Airlines,2,-1.0,13.0,3,3,7.0,3,-18.0,...,New York,Denver International Airport,39.861698,-104.672996,Denver,1,1,Jan,0,0

In [13]:
flight_df = flight_df.drop(['MONTH_abbr'], axis=1)
flight_df = flight_df.drop(['Dest_city'], axis=1)
flight_df = flight_df.drop(['Dest_Airport'], axis=1)
flight_df = flight_df.drop(['Origin_city'], axis=1)
flight_df = flight_df.drop(['Org_Airport'], axis=1)
flight_df = flight_df.drop(['FL_DATE'], axis=1)

In [14]:
flight_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7065663 entries, 0 to 7065662
Data columns (total 26 columns):
 #   Column               Dtype
---  ------               -----
 0   OP_CARRIER           object
 1   CRS_DEP_TIME         int64
 2   DEP_DELAY            float64
 3   TAXI_OUT             float64
 4   WHEELS_OFF           int64
 5   WHEELS_ON            int64
 6   TAXI_IN              float64
 7   CRS_ARR_TIME         int64
 8   ARR_DELAY            float64
 9   CRS_ELAPSED_TIME     float64
 10  ACTUAL_ELAPSED_TIME  float64
 11  AIR_TIME             float64
 12  DISTANCE             float64
 13  CARRIER_DELAY        float64
 14  WEATHER_DELAY        float64
 15  NAS_DELAY            float64
 16  SECURITY_DELAY       float64
 17  LATE_AIRCRAFT_DELAY  float64
 18  Org_latitude         float64
 19  Org_longitude        float64
 20  Dest_latitude        float64
 21  Dest_longitude       float64
 22  month                int64
 23  Day                  int64
 24  DELAY_STATUS         int64
 25  WEEKDAY              int64
dtypes: float64(17), int64(8), object(1)
memory usage: 1.4+ GB

In [15]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

In [16]:
# Label encoding features to change categorical variables into numerical one
flight_df['OP_CARRIER'] = le.fit_transform(flight_df['OP_CARRIER'])
flight_df['Day'] = le.fit_transform(flight_df['Day'])

In [17]:
X = flight_df.drop(['DELAY_STATUS','ARR_DELAY'], axis = 1)
X.shape

(7065663, 24)

In [18]:
y = flight_df['DELAY_STATUS']
y.head(20)

0     0
1     1
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     1
10    1
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    1
19    0
Name: DELAY_STATUS, dtype: int64

In [19]:
import datetime, warnings, scipy 
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
from sklearn.tree import DecisionTreeClassifier
from imblearn.metrics import classification_report_imbalanced
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report, plot_confusion_matrix

# Perform the spli
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state = 2)




# Build a regular tree as baseline
tree_clf = DecisionTreeClassifier(criterion='gini', max_depth= 5, class_weight="balanced")
tree_clf.fit(X_train, y_train)




# Test set predictions
pred = tree_clf.predict(X_test)



print('Testing Accuracy for Decision Tree Classifier:', accuracy_score(y_test, pred))

Testing Accuracy for Decision Tree Classifier: 0.8514756104522387